main {
    background: url("site_inter/imagens/384046.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh; /* Usa min-height para garantir que cobre toda a página */
    position: relative;
    z-index: 1;
    padding: 20px; /* Adiciona padding para espaçamento interno */
    overflow: hidden; /* Evita que o conteúdo saia do contêiner */
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(0.28) blur(3px);
    z-index: -1; /* Certifica-se de que a imagem de fundo está atrás do conteúdo */
}

main::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, #026236, transparent);
    z-index: -1;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(244, 244, 244, 0.95); /* Fundo semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2; /* Garantir que o formulário esteja acima da imagem de fundo */
}

.contact-container h1 {
    font-family: 'Squada One', cursive; /* Mudança de fonte */
    letter-spacing: 3px;
    text-align: center;
    color: #333; /* Cor do texto */
}

.contact-container p {
    text-align: center;
    color: #959595;
    font-family: 'Archivo', sans-serif; /* Mudança de fonte */
}

.contact-container form {
    display: flex;
    flex-direction: column;
}

.contact-container label {
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Archivo', sans-serif; /* Mudança de fonte */
    color: #333; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
}

.contact-container input,
.contact-container select {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif; /* Mudança de fonte */
}

.contact-container button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Archivo', sans-serif; /* Mudança de fonte */
}

.contact-container button:hover {
    background-color: #0056b3;
}

/* Estilização para a página de dados */
.data-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(244, 244, 244, 0.95); /* Fundo semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2; /* Garantir que o conteúdo esteja acima da imagem de fundo */
}

.data-container h1 {
    font-family: 'Squada One', cursive; /* Mudança de fonte */
    letter-spacing: 3px;
    text-align: center;
    color: #000000; /* Cor do texto */
}

.data-container p {
    font-family: 'Archivo', sans-serif; /* Mudança de fonte */
    color: #131313de; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
    margin-top: 10px;
}

.data-container p strong {
    font-weight: bold;
}
